<%= tinymce_assets %>
<%= form_for(@note, url: note_path(:id => @note.id), :method => :put,remote: true) do |f| %>
<div id="errormsg"></div>
<div class="field">
  <p>
    Title
    <%= f.text_field :title ,placeholder: " Title" ,class: "form-control "%></p>
</div>
<div class="field">

  <p>Description
    <%= f.text_area :description, :class => "tinymce form-control", :rows => 10, :cols => 10 %></p>
</div>
<div class="field">
  <p>Tags with comma seperated
    <%= f.text_field :tag_list ,:value => @note.tag_list.map { |t| t }.join(', '), placeholder: " tags with comma seperated" ,class: "form-control "%></p>
</div>

<%= submit_tag "Update" ,class: "btn btn-color",id: "updateNote" %>

<% end %>
<%= tinymce %>
<% if current_user.autosave == true %>

<script type="text/javascript">
  $(document).ready(function () {
    setInterval(function () {
      $('#updateNote').click()
    }, 5000);
  });
</script>
<% end %>
