<%= form_with(model: @note,url: notes_path,:method => :post, remote: true) do |f| %>

<div class="modal" id="newNoteModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Note</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="error_messages" style="background:#8B0000;color:white;padding-left:10px;"></div><br>
        <div class="field">
          <p><%= f.text_field :title ,placeholder: " Title" ,class: "form-control note_title"%></p>
        </div>

        <div class="field">
          <p>
            <%= f.text_area :description, :class => "tinymce", :rows => 20, :cols => 120 %></p>
          <%= tinymce %>
        </div>
        <div class="field">
          <p><%= f.text_field :tag_list ,placeholder: " Tags with comma seperated" ,class: "form-control note_tag_list"%></p>
        </div>
        <div class="field">
          <p>Important !!
            <%= f.radio_button :important, true %>
            <%= label :contactmethod_email, 'Yes' %>
            <%= f.radio_button :important, false, :checked => true %>
            <%= label :contactmethod_sms, 'No' %>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Add" ,class: "btn btn-color",id: "addnote"%>
      </div>
    </div>
  </div>
</div>
<% end %>
