<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Descriptin:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @note.active %>
</p>

<p>
  <strong>Important:</strong>
  <%= @note.important %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
