<%= form_with(model: [ @note, @note.comments.build ], local: true) do |form| %>
<div class="field">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<div class="field">
  <%= form.label :note_id %>
  <%= form.text_field :note_id %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
