<div>
  <div style="float: right;margin-top: 5px;">
<%= @user_note.tag_list.map { |t| t}.join(' ') %>
    <button type="button" class="btn btn-sm btn-color" data-toggle="modal" data-target="#newCommentModal">Add Comment</button>
  </div>
  <br>
  <br>
</div>
<%= form_with(model: [ @user_note, @user_note.comments.build ], remote: true ) do |f| %>
<!-- Modal -->

<div class="modal" id="newCommentModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Comment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= f.hidden_field :note_id %>
        <%= f.hidden_field :commented_by_id, :value => current_user.id %>
        <div id="errormsg"></div>
        <div class="field">
          <p><%= f.text_field :body ,placeholder: " Body" ,class: "form-control comment_body"%></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Add" ,class: "btn btn-color",id: "addcomment"%>
      </div>
    </div>
  </div>
</div>
<% end %>
