<%= form_for resource, url: session_path(:user), remote: true do |f| %>

<div class="row">
  <div class="col-sm-3">
    Email
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="col-sm-3">
    Password
    <%= f.password_field :password, autocomplete: "current-password" %>
    <%= render "users/shared/links_for_login" %>
  </div>
  <div class="col-sm-3">
    <br>
    <div class="actions">
      <%= f.submit "Log in", class: "home_btn_header_color home_header_font",id:"sign_in_btn" %>
    </div>
  </div>
  <div class="col-sm-3">
    <br>
    <div>
      <%= link_to 'LogOut',destroy_user_session_path , method: :delete %>
    </div>
  </div>
<% end %>

<!-- <script type="text/javascript">
  $(document).ready(function () {
    //form id
    $('#new_user').bind('ajax:success', function (evt, data, status, xhr) {
      //function called on status: 200 (for ex.)

      Rails.ajax({url: "/home/dashboard", type: "GET", dataType: 'html'})
      console.log('success');

    }).bind("ajax:error", function (evt, xhr, status, error) {
      //function called on status: 401 or 500 (for ex.)
      console.log(xhr.responseText);
    });
  }); -->

  <!-- // var project = document.getElementById("sign_in_btn"); project.addEventListener("click", function () {
  //
  //   Rails.ajax({
  //
  //     url:"/home/dashboard",     type: "GET",     dataType: 'js'   }) }) }); -->
<!-- </script> -->
