<div class="scrollbar">
  <% if @shared_notes.count>0 %>
    <% @shared_notes.each do |notes| %>
      <div>
        <div class="success activeClass">
          <div style="display: inline-block;line-height:0px">
            <p>
              <strong><%= link_to notes.note.title ,note_comments_path(:note_id => notes.note_id), :remote => true ,:id =>notes.note_id %></strong>
            </p>
            <div style="color:#999999;font-size:10px;"><%= notes.user.email %></div>

          </div>
          <div style="float:right">
            <% if notes.permission_id == 1 %>
              <h6 style="float: right;">viewOnly</h6>
              <h6 style="color:#1E5F91;font-size:small;"><%= link_to 'REQUEST For EDIT', request_for_permission_shared_note_path(:id =>notes.id),remote: true %></h6>
              <% elsif  notes.permission_id == 2 %>
                <%= link_to edit_note_path(:id => notes.note_id),remote: true,id: notes.note_id do %>
                <%= icon('fa', 'edit', class: 'editClass') %>
              <% end %>
            <% else %>
              <%= link_to edit_note_path(:id => notes.note_id),remote: true,id: notes.note_id do %>
              <%= icon('fa', 'edit', class: 'editClass') %>
            <% end %>
            <%= link_to new_note_shared_note_path(:note_id => notes.note_id),remote: true do %>
            <%= icon('fa', 'share-alt', class: 'starClass') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% else %>
<div style="margin:10px;">No record found
</div>
<% end %>
</div>
