<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @shared_note.email %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shared_note.note %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @shared_note.permission %>
</p>

<%= link_to 'Edit', edit_shared_note_path(@shared_note) %> |
<%= link_to 'Back', shared_notes_path %>
