<%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>
<div id="note_container">
  <div class="sidebar-header ">
    <h4>SimpleNoteApp</h4>
  </div>

  <div class="scrollbar">
    <% if @notes.count>0 %>
      <% @notes.each do |note| %>
        <div>
          <div class="success activeClass">
            <div style="display: inline-block;line-height:0px">
              <p>
                <strong><%= link_to note.title ,note_comments_path(:note_id => note.id), :remote => true ,:id =>note.id %></strong>
              </p>
              <div style="color:#999999;font-size:10px;"><%= (CGI::unescapeHTML note.description).html_safe %></div>
            </div>
            <div style="float:right">
              <%= link_to edit_note_path(:id => note.id),remote: true,id: note.id do %>
              <%= icon('fa', 'edit', class: 'editClass') %>
            <% end %>
            <%= link_to note_path(:id => note.id),method: :delete,remote: true,data: {confirm: "Are you sure?"},id: note.id do %>
            <%= icon('fa', 'trash', class: 'deleteClass') %>
          <% end %>
          <% if note.important == true %>
            <%= link_to mark_as_important_path(:id => note.id),remote: true do %>
            <%= icon('fa', 'thumbtack', class: 'starClass') %>
          <% end %>
        <% else %>
          <%= link_to mark_as_important_path(:id => note.id),remote: true do %>
          <%= icon('far', 'star', class: 'starClass') %>
        <% end %>
      <% end %>

      <%= link_to note_shared_notes_path(:note_id => note.id),remote: true do %>
      <%= icon('fa', 'share-alt', class: 'starClass') %>
    <% end %>

    </div>
  </div>
</div>
<% end %>
<% else %>
<div style="margin:10px;">No record found
</div>
<% end %>
</div>
</div>

<div id="updateNoteModalDiv"></div>
